PORT=5000
MONGODB_URI=mongodb+srv://luxplastkg_db_user:jNMkh3MRaVhNTNmU@cluster0.kvlagje.mongodb.net/luxplast?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
ADMIN_USERNAME=admin
ADMIN_PASSWORD=luxplast2024

# Cloudinary (для загрузки изображений)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Frontend URL (для CORS)
FRONTEND_URL=http://localhost:5173
